.contact-description {
  line-height: 3;
  font-size: $font-size;
  width: 50%;
  padding: 3%;
  margin: auto;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  @include mobile {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: black;
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid $color-main;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: $font;
  width: 100%;
  background: $color-main;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: $font-color-main;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  &:hover {
    background: #cc4949;
  }
}
